body {
    background-color: black;
}

.astronaut {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 350px;
    bottom: 10px
}


.helmet {
    margin: auto;
    position: absolute;
    top: 50px;
    right: 100px;
    bottom: 10;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(223, 223, 223);
}

.visor {
    margin: auto;
    position: absolute;
    top: 57px;
    right: 100px;
    bottom: 10;
    left: 0px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(70, 41, 78);
    border: solid 1px rgb(40, 33, 42);
}

.right-ear {
    margin: auto;
    position: absolute;
    top: 65px;
    right: 57px;
    bottom: 10;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(137, 137, 137);
}

.left-ear {
    margin: auto;
    position: absolute;
    top: 65px;
    right: 145px;
    bottom: 10;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(137, 137, 137);
}


.torso{
    margin: auto;
    position: absolute;
    top: 90px;
    right: 100px;
    bottom: 10;
    left: 0;
    width: 60px;
    height: 105px;
    border-radius: 40px 40px 25px 25px;
    background-color: rgb(223, 223, 223);
}

.left-arm {
    margin: auto;
    position: absolute;
    top: 97px;
    right: 166px;
    bottom: 10;
    left: 0;
    width: 15px;
    height: 65px;
    transform: rotate(30deg);
    border-radius: 40% 40px 0px 0px;
    background-color: rgb(223, 223, 223);
}

.right-arm {
    margin: auto;
    position: absolute;
    top: 97px;
    right: 35px;
    bottom: 10;
    left: 0;
    width: 15px;
    height: 65px;
    transform: rotate(150deg);
    border-radius: 0px 0px 40px 40%;
    background-color: rgb(223, 223, 223);
}

.left-glove {
    margin: auto;
    position: absolute;
    top: 157px;
    right: 210px;
    bottom: 10;
    left: 0;
    width: 15px;
    height: 20px;
    transform: rotate(30deg);
    border-radius: 0px 0px 50% 50%;
    background-color: rgb(223, 223, 223);
}

.right-glove {
    margin: auto;
    position: absolute;
    top: 157px;
    right: 0px;
    bottom: 10;
    left: 8px;
    width: 15px;
    height: 20px;
    transform: rotate(150deg);
    border-radius: 50% 50% 0px 0px;
    background-color: rgb(223, 223, 223);
}

.left-thumb {
    margin: auto;
    position: absolute;
    top: 157px;
    right: 190px;
    bottom: 10;
    left: 0;
    width: 5px;
    height: 2px;
    transform: rotate(-15deg);
    border-radius: 0px 0px 50% 50%;
    background-color: rgb(223, 223, 223); 
}

.left-leg {
    margin: auto;
    position: absolute;
    top: 120px;
    right: 140px;
    bottom: 0px;
    left: 0;
    width: 20px;
    height: 60px;
    border-radius: 0px 20px 0px 0px;
    background-color: rgb(223, 223, 223);
}

.right-leg {
    margin: auto;
    position: absolute;
    top: 120px;
    right: 60px;
    bottom: 0px;
    left: 0;
    width: 20px;
    height: 60px;
    border-radius: 20px 0px 0px 0px;
    background-color: rgb(223, 223, 223);
}

.left-boot {
    margin: auto;
    position: absolute;
    top: 235px;
    right: 140px;
    bottom: 10;
    left: 0px;
    width: 20px;
    height: 35px;
    border-radius: 0px 0px 10px 0px;
    background-color: rgb(57, 42, 61);
}

.right-boot {
    margin: auto;
    position: absolute;
    top: 235px;
    right: 60px;
    bottom: 10;
    left: 0px;
    width: 20px;
    height: 35px;
    border-radius: 0px 0px 0px 10px;
    background-color: rgb(57, 42, 61);
}

.left-toe {
    margin: auto;
    position: absolute;
    top: 250px;
    right: 154px;
    bottom: 10;
    left: 0px;
    width: 35px;
    height: 20px;
    border-radius: 10px 0px 10px 10px;
    background-color: rgb(57, 42, 61);
}

.right-toe {
    margin: auto;
    position: absolute;
    top: 250px;
    right: 45px;
    bottom: 10;
    left: 0px;
    width: 35px;
    height: 20px;
    border-radius: 0px 10px 10px 10px;
    background-color: rgb(57, 42, 61);
}

.belt {
    margin: auto;
    position: absolute;
    top: 165px;
    right: 100px;
    bottom: 10;
    left: 0;
    width: 60px;
    height: 5px;
    border: 1px solid black;
    
    background-color: rgb(174, 6, 6);
}

.buckle {
    margin: auto;
    position: absolute;
    top: 157px;
    right: 100px;
    bottom: 10;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 20%;
    background-color: rgb(223, 223, 223);
}

.red-dot {
    margin: auto;
    position: absolute;
    top: 162px;
    right: 90px;
    bottom: 10;
    left: 0;
    width: 3px;
    height: 3px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(195, 4, 4);
}

.green-dot {
    margin: auto;
    position: absolute;
    top: 169px;
    right: 90px;
    bottom: 10;
    left: 0;
    width: 3px;
    height: 3px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(2, 146, 16);
}

.tank {
    margin: auto;
    position: absolute;
    top: 95px;
    right: 100px;
    bottom: 10;
    left: 0;
    width: 80px;
    height: 90px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(147, 144, 144);
}

